/* You can add global styles to this file, and also import other style files */
:root {
    --defaultSquare: #bde0fe;
    --hoverSquare: #a2d2ff;
    --markedSquare: #90c3f3;
    --defaultText: #ffffffdf;
    --hoverText: #e9e9e9;
    --markedText: #ffffff;

    --holdSquare: #E5CDFF;

    --completedSquare: #9AF1DA; 
    --selectedSquare: #6ADDD7;
    --hoverCompleteSquare: #74e9c9;

    --backgroundWhite: #fff4fa72;
    --disabledText: #fdfff5;

    --headerColor: #fdffa5;
    --topScreen: #FFC8DC;
    --bottomScreen: #B0BAFF;
    --blackFont: #5b4b72;
    --whiteFont: #fffff8;

    --popupBack: #FFFDD0;
    --popupFont: Lato, Helvetica, sans-serif;
    
    --black: #19181a;
    --white: #ffffff;
    --red: #FFB3C4;
    --orange: #FFD7B3;
    --yellow: #FFFBB3;
    --green: #B3FFB3;
    --teal: #B3FFEF;
    --blue: #B3D0FF;
    --purple: #CEB3FF;
    --pink: #FFB3EC;
    /* Gradients */
    --gradient: linear-gradient(90deg, var(--red) 0%, var(--orange) 12.5%, var(--yellow) 25%, var(--green) 37.5%, var(--teal) 50%, var(--blue) 62.5%, var(--blue) 75%, var(--purple) 87.5%, var(--pink) 100%);
    /* misc */
    --transition-main: .175, .685, .32;
    --header-height: 50px;
    --header-padding-x: 16px;
    --headerFont: Roboto, Helvetica, sans-serif;
}

@media (min-width: 26em) {
    :root {
        --header-height: 65px;
    }
}

@media (min-width: 48em) {
    :root {
        --header-padding-x: 20px;
        --header-height: 75px;
    }
}

@media (min-width: 64em) {
    :root {
        --header-padding-x: 24px;
        --header-height: 80px;
    }
}

@media (min-width: 120em) {
    :root {
        --header-padding-x: 36px;
        --header-height: 100px;
    }
}


/* Light theme colors */
:root {
    --color-tone-1: #000000;
    --color-tone-2: #787c7e;
    --color-tone-3: #878a8c;
    --color-tone-4: #d3d6da;
    --color-tone-5: #edeff1;
    --color-tone-6: #f6f7f8;
    --color-tone-7: #ffffff;
    --color-tone-8: #121212;
    --color-tone-9: #dfdfdf;
    --color-tone-10: #000000;
    --color-tone-11: #787c7e;
    --color-tone-12: #363636;
    --color-nav-hover: #f4f4f4;
    --opacity-50: rgba(255, 255, 255, 0.5);
    --error-background: #e3e3e1;
    --icon-disabled: #a6a6a6;
}

/* Dark Theme Colors */
.dark {
    --color-tone-1: #ffffff;
    --color-tone-2: #818384;
    --color-tone-3: #565758;
    --color-tone-4: #3a3a3c;
    --color-tone-5: #272729;
    --color-tone-6: #1a1a1b;
    --color-tone-7: #121213;
    --color-tone-8: #ffffff;
    --color-tone-9: #424242;
    --color-tone-10: #dfdfdf;
    --color-tone-11: #dfdfdf;
    --color-tone-12: #dfdfdf;
    --color-nav-hover: #2f2f31;
    --opacity-50: rgba(0, 0, 0, 0.5);
    --error-background: var(--color-tone-7);
    --icon-disabled: #59595a;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Lato, "Helvetica Neue", sans-serif;
    background-image: linear-gradient(to top, var(--bottomScreen)  0%, var(--topScreen) 100%);
    color: #121212;
}

body.dark {
    color: #ffffff;
    background: #393E41;
    /* font-family: 'C'; */
}

/* #cdb4db // #ffc8dd // #ffafcc // #bde0fe // #a2d2ff */
/* #61f4de // #65cbe9 // #68b6ef // #6c8dfa // #6e78ff */
/* #809bce // #95b8d1 // #b8e0d2 // #d6eadf // #eac4d5 */