/* You can add global styles to this file, and also import other style files */
:root {
    --lightRed: #f76c6c;
    --lightBlue: #83ccfd;
    --blue1: #419edd;
    --blue2: #60a6d4;
    --darkBlue: #4681a8;
    --lightGreen: #60d466;
    --darkRed: #a84646;
    /* Colors */
    --black: #000000;
    --white: #ffffff;
    --red: #f26987;
    --orange: #f29d69;
    --yellow: #f2e069;
    --green: #77f269;
    --teal: #69f2cb;
    --blue: #6999f2;
    --purple: #c269f2;
    --pink: #f269d7;
    /* Gradients */
    --gradient: linear-gradient(90deg, var(--red) 0%, var(--orange) 12.5%, var(--yellow) 25%, var(--green) 37.5%, var(--teal) 50%, var(--blue) 62.5%, var(--blue) 75%, var(--purple) 87.5%, var(--pink) 100%);
    /* misc */
    --transition-main: .175, .685, .32;
    --header-height: 40px;
    --header-padding-x: 16px;
}

@media (min-width: 48em) {
    :root {
        --header-padding-x: 20px;
    }
}

@media (min-width: 64em) {
    :root {
        --header-padding-x: 24px;
    }
}

@media (min-width: 26em) {
    :root {
        --header-height: 65px;
    }
}

/* Light theme colors */
:root {
    --color-tone-1: #000000;
    --color-tone-2: #787c7e;
    --color-tone-3: #878a8c;
    --color-tone-4: #d3d6da;
    --color-tone-5: #edeff1;
    --color-tone-6: #f6f7f8;
    --color-tone-7: #ffffff;
    --color-tone-8: #121212;
    --color-tone-9: #dfdfdf;
    --color-tone-10: #000000;
    --color-tone-11: #787c7e;
    --color-tone-12: #363636;
    --color-nav-hover: #f4f4f4;
    --opacity-50: rgba(255, 255, 255, 0.5);
    --error-background: #e3e3e1;
    --icon-disabled: #a6a6a6;
}

/* Dark Theme Colors */
.dark {
    --color-tone-1: #ffffff;
    --color-tone-2: #818384;
    --color-tone-3: #565758;
    --color-tone-4: #3a3a3c;
    --color-tone-5: #272729;
    --color-tone-6: #1a1a1b;
    --color-tone-7: #121213;
    --color-tone-8: #ffffff;
    --color-tone-9: #424242;
    --color-tone-10: #dfdfdf;
    --color-tone-11: #dfdfdf;
    --color-tone-12: #dfdfdf;
    --color-nav-hover: #2f2f31;
    --opacity-50: rgba(0, 0, 0, 0.5);
    --error-background: var(--color-tone-7);
    --icon-disabled: #59595a;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    color: #121212;
    background: #fff;
}

body.dark {
    color: #ffffff;
    background: #121212;
}