.game-board {
    display: flex;
    height: calc(100% - var(--header-height));
}

@media (orientation: portrait) {
    .game-board {
        flex-direction: column;
    }
}

.bingo-button {
    margin: 1%;
    border-radius: 10px;
    background-size: cover;
    background-color: transparent;
    border: 1px solid var(--color-tone-1);
    color: var(--color-tone-1);
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.bingo-button:hover {
    background-color: var(--color-tone-2);
    color: var(--color-tone-7);
}

.bingo-button:disabled {
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
    color: var(--color-tone-4);
    border: 1px solid var(--color-tone-4);
    background: transparent;
}

.bingo-parent {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.bingo-board {
    height: 70%;
    aspect-ratio: 1/1;
    padding-bottom: 1%;
    display: grid;
    gap: 1%;
}

@media (min-width: 90em) {
    .bingo-board {
        height: 80%;
    }
}

@media (orientation: portrait) {
    .bingo-parent {
        width: 100%;
    }
}

.bingo-info {
    height: 20%;
    aspect-ratio: 4/1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bingo-info-turn {
    margin: 0px;
    height: 50%;
    font-size: 2em;
    color: var(--color-tone-1);
}

.bingo-info-buttons {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: start;

    .bingo-button {
        width: calc(100%/2);
    }
}

.square {
    background-color: var(--lightBlue);
    border: 1px solid var(--blue1);
    color: var(--color-tone-7);
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10%;
}

.square:hover {
    background-color: var(--blue2);
}

.square.marked {
    background-color: var(--darkBlue);
}

.square.complete {
    background-color: var(--lightRed);
}

.square.selected {
    background-color: var(--darkRed);
}

.number-parent {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-right: 0%;
    justify-content: flex-start;
    box-sizing: border-box;
}

@media (orientation: portrait) {
    .number-parent {
        width: 100%;
        padding-right: 2%;
    }
}

.number-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 40%;
    overflow-y: auto;
    border: 1px solid var(--color-tone-2);
    margin: 1% 0;
}

.number {
    width: 9.5%;
    aspect-ratio: 1/1;
    background-color: var(--lightBlue);
    /* border: 1px solid var(--blue1); */
    box-sizing: border-box;
    color: var(--color-tone-7);
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0.25%;
    border-radius: 10%;
}

.number:hover {
    background-color: var(--blue2);
}

.number.marked {
    background-color: var(--darkBlue);
}

.number.hold {
    background-color: var(--lightGreen);
}

.number.used {
    background-color: var(--lightRed);
}

.number.selected {
    background-color: var(--darkRed);
}

.operations-parent {
    display: flex;
    justify-content: center;
    height: 10%;
}

.operations-left {
    width: 40%;
    display: inherit;
    justify-content: flex-start;

    .bingo-button {
        width: 25%;
    }
}

.operations-bingo {
    width: 20%;
    display: inherit;
    justify-content: center;

    .bingo-button {
        width: 100%;
        font-size: 1.5em;
        color: var(--color-tone-7);
        background: var(--gradient);
        background-size: 500%;
        border: none;
        transform: scaleX(1);
        transition: transform .3s cubic-bezier(var(--transition-main), 1.275), filter .3s cubic-bezier(var(--transition-main), 1.275), bottom .3s cubic-bezier(var(--transition-main), 1.275), background-position 7.5s cubic-bezier(var(--transition-main), .955);
    }

    .bingo-button:hover {
        bottom: 2px;
        /* transform: scale3d(1.1, 1.1, 1.1); */
        background-position: 100% 50%;
        outline: none;
        opacity: 1;
    }

    .bingo-button:disabled {
        color: #ccc;
        cursor: not-allowed;
        pointer-events: none;
        color: var(--color-tone-4);
        border: 1px solid var(--color-tone-4);
        background: transparent;
    }
}

.operations-right {
    width: 40%;
    display: inherit;
    justify-content: flex-end;

    .bingo-button {
        width: calc(100%/3);
        font-size: 1em;
    }
}

.formula-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    height: 15%;
    border: 1px solid var(--color-tone-2);
    border-radius: 25px;
    margin-top: 1%;
}

@media (min-width: 80em) {
    .formula-parent {
        font-size: 1.5em;
    }
}

@media (min-width: 120em) {
    .formula-parent {
        font-size: 2em;
    }
}

.small-mango {
    height: 50%;
    margin: -0.5%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--lightBlue);
}