.game-board {
    display: flex;
    height: calc(100% - var(--header-height));
    background-image: url('../../assets/wave_50_purple.svg'),url('../../assets/wave1.svg');
    background-size: cover;
    background-position: bottom center, 50%, 50%;
}

@media (orientation: portrait) {
    .game-board {
        flex-direction: column-reverse;
    }
}

.bingo-button {
    margin: 1%;
    border-radius: 10px;
    background-size: cover;
    background-color: var(--defaultSquare);
    border: none;
    color: var(--whiteFont);

    font-size: 1.7em;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.bingo-button:hover {
    background-color: var(--hoverSquare);
    color: var(--hoverText);
}

.bingo-button:disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: var(--disabledText);
    background: var(--backgroundWhite);
}

.bingo-parent {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.bingo-board {
    height: 70%;
    aspect-ratio: 1/1;

    display: grid;
    gap: 1%;
    padding-bottom: 1%;
    /* padding: 1%;

    background-color: rgba(235, 231, 231, 0.8);
    border-radius: 3%; */
}

@media (min-width: 90em) {
    .bingo-board {
        height: 80%;
    }
}

@media (orientation: portrait) {
    .bingo-parent {
        width: 100%;
    }
}

.bingo-info {
    height: 20%;
    aspect-ratio: 4/1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bingo-info-turn {
    margin: 0px;
    height: 50%;
    font-size: 2em;
    color: var(--color-tone-1);
}

.bingo-info-buttons {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: start;

    .bingo-button {
        width: calc(100%/2);
    }
}

.square {
    background-color: var(--defaultSquare);
    color: var(--defaultText) ;
    box-shadow: 0px 0px 5px #0000007e;
    font-size: 2.5em;
    font-weight: 420;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10%;
}

.square:hover {
    color: var(--hoverText);
    background-color: var(--hoverSquare);
}

.square.marked {
    color: var(--markedText);
    background-color: var(--markedSquare);
}

.square.complete {
    color: var(--markedText);
    background-color: var(--completedSquare);
}

.square.selected {
    color: var(--markedText);
    background-color: var(--selectedSquare);
}

.square.complete:hover {
    background-color: var(--hoverCompleteSquare);
}

.number-parent {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-right: 0%;
    justify-content: flex-start;
    box-sizing: border-box;
}

@media (orientation: portrait) {
    .number-parent {
        width: 100%;
        padding-right: 2%;
    }
}

.number-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 40%;
    overflow-y: auto;
    /* box-shadow: 0px 0px 5px #0000007e;     */
    margin: 1% 0;
    padding: 1%;
    border-radius: 25px;
    background-color: var(--backgroundWhite);
}

.number {
    width: 9.5%;
    aspect-ratio: 1/1;
    background-color: var(--defaultSquare);
    box-sizing: border-box;
    color: var(--defaultText);
    font-size: 2em;
    font-weight: 420;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0.25%;
    border-radius: 10%;
    box-shadow: 0px 0px 5px #0000007e;
}

.number:hover {
    background-color: var(--hoverSquare);
    color: var(--hoverText);
}

.number.marked {
    background-color: var(--markedSquare);
    color: var(--markedText);
}

.number.hold {
    background-color: var(--holdSquare);
}

.number.used {
    background-color: var(--completedSquare);
}

.number.selected {
    background-color: var(--selectedSquare);
}

.operations-parent {
    display: flex;
    justify-content: center;
    height: 10%;
}

.operations-left {
    width: 40%;
    display: inherit;
    justify-content: flex-start;

    .bingo-button {
        width: 25%;
    }
}

.operations-bingo {
    width: 20%;
    display: inherit;
    justify-content: center;

    .bingo-button {
        width: 100%;
        text-align: center;
        font-size: 1em;
        font-weight: 500;
        background: var(--gradient);
        background-size: 500%;
        border: none;
        transform: scaleX(1);
        transition: transform .3s cubic-bezier(var(--transition-main), 1.275), filter .3s cubic-bezier(var(--transition-main), 1.275), bottom .3s cubic-bezier(var(--transition-main), 1.275), background-position 7.5s cubic-bezier(var(--transition-main), .955);
    }

    .bingo-button:hover {
        bottom: 2px;
        /* transform: scale3d(1.1, 1.1, 1.1); */
        background-position: 100% 50%;
        outline: none;
        opacity: 1;
    }

    .bingo-button:disabled {
        cursor: not-allowed;
        pointer-events: none;
        color: var(--disabledText);
        background: var(--backgroundWhite);
    }

    @media (min-width: 64em) {
        .bingo-button {
            font-size: 1.3em;
        }
    }

    @media (min-width: 120em) {
        .bingo-button {
            font-size: 2em;
        }
    }
}

.operations-right {
    width: 40%;
    display: inherit;
    justify-content: flex-end;

    .bingo-button {
        width: calc(100%/3);
        font-size: 1em;
    }

    @media (min-width: 64em) {
        .bingo-button {
            font-size: 1.3em;
        }
    }

    @media (min-width: 120em) {
        .bingo-button {
            font-size: 2em;
        }
    }
}

.formula-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 500;
    height: 15%;
    border-radius: 25px;
    margin-top: 1%;
    color: var(--whiteFont);
    background-color: var(--backgroundWhite);
}

@media (min-width: 80em) {
    .formula-parent {
        font-size: 1.5em;
    }
}

@media (min-width: 120em) {
    .formula-parent {
        font-size: 2em;
    }
}

.small-mango {
    height: 50%;
    margin: -0.5%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--defaultSquare);
}