<header class="header">
    <div class="menuLeft">
        <button type="button" id="navButton" class="icon" aria-label="Menu"><i class="fa fa-bars"
                aria-hidden="true"></i>
        </button>
    </div>
    <h1 class="title">
        MANGO
    </h1>
    <menu class="menuRight">
        <button mat-stroked-button id="onlineButton" (click)="openOnlinePopup()" aria-label="online">Play Together!
        </button>
        <button id="helpButton" (click)="openInfoPopup()" class="icon" aria-label="Help">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
        </button>
        <button id="settingsButton" (click)="openSettingPopup()" class="icon" aria-label="Settings"><i class="fa fa-cog"
                aria-hidden="true"></i>
        </button>
    </menu>
</header>