.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0px var(--header-padding-x);
    height: var(--header-height);
    font-family: var(--headerFont);
    /* border-bottom: 1px solid var(--blackFont); */
    /* background-color: var(--purple); */
}

.header button {
    cursor: pointer;
    font-family: var(--headerFont);
}

.header button.icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 4px;
    font-size: 2vw;
}

@media (orientation: portrait) {
    .header button.icon {
        font-size: 5vw;
    }
}

.header .title {
    flex-grow: 2;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.01em;
    left: 0;
    right: 0;
    pointer-events: none;
    position: relative;
    text-align: center;
    margin: 0;
    color: var(--headerColor);
}

.header .menuLeft {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
}

.header .menuLeft #navButton {
    padding-top: 2px;
    padding-left: 0px;
    padding-right: 8px;
    color: var(--headerColor);    
}

.header .menuRight {
    display: flex;
    justify-content: flex-end;
}

.header .menuRight #onlineButton {
    height: auto;
    color: var(--topScreen);
    font-weight: 700;
    border: none;
    background-color: var(--headerColor);
}

.header .menuRight #helpButton {
    padding-left: 3%;
    color: var(--headerColor);
}

.header .menuRight #settingsButton {
    color: var(--headerColor);
}

@media (min-width: 48em) {
    .header .title {
        font-size: 32px;
    }

    .header .menuLeft,
    .header .menuRight {
        width: 350px;
    }

    #navButton {
        padding-top: 2px;
        padding-left: 0px;
    }
}

@media (min-width: 64em) {
    .header .title {
        font-size: 36px;
    }
}

@media (min-width: 120em) {
    .header .title {
        font-size: 54px;
    }
}
