<div *ngIf="isPopupVisible" class="overlay">
    <div class="popup-overlay" *ngIf="inSession">
        <div class="popup">
            <!--      TODO     -->
            <div class="title"> 
                <h1 class="title">
                    Game Settings!
                </h1>
                <button mat-icon-button (click)="disconnect()" color="primary" aria-label="Replace with close button">
                    X
                </button>
            </div>
            <div class="session-display">
                <h1 class="session-display-title">
                    {{ you == 0 ? 'Player 1' : 'Not Player 1' }}
                </h1>
                <h3 class="session-display-text">
                    {{ you == 0 ? 'Only you can adjust the settings! Be sure to start the game when you are ready.' :
                    'Only player 1 will be able to adjust the settings! Please wait for them to start the game.' }}
                </h3>
                <h3 class="session-visual-text">
                    {{'Player Count: ' + playerCount}}
                </h3>
                <div class="session-display-visual">
                    <div class="ball-container" *ngFor="let _ of [].constructor(playerCount); let i = index">
                        <div *ngIf="you != i" class="ball"></div>
                        <div *ngIf="you == i" class="ball-me"></div>
                    </div>
                </div>
            </div>
            <div class="game-parent">
                <div class="check-slider-parent">
                    <i class="fa fa-th fa-2x" aria-hidden="true"></i>
                    <p class="check-slider-text">Completion Mode</p>
                    <mat-slide-toggle (click)="toggleCompletionMode()" class="check-slider" color="primary"
                        [checked]="completion" disabled="you != 0">
                    </mat-slide-toggle>
                </div>
                
                <div class="slider-parent">
                    <div class="label-parent">
                        <label id="slider-label-name" class="slider-label-name">Board Size:</label>
                        <label class="slider-label-value">{{size}}</label>
                    </div>
                    <mat-slider class="slider" [disabled]="you != 0" [max]="maxBoardSize" [min]="minBoardSize"
                        [step]="step" [discrete]="thumbLabel" [showTickMarks]="showTicks">
                        <input matSliderThumb [(ngModel)]="size" #slider>
                    </mat-slider>
                </div>
                <div class="slider-parent">
                    <div class="label-parent">
                        <label id="slider-label-name" class="slider-label-name">Number of Cards:</label>
                        <label class="slider-label-value">{{generate + ' Cards'}}</label>
                    </div>
                    <mat-slider class="slider" [disabled]="you != 0" [max]="maxNumGen" [min]="minNumGen" [step]="step"
                        [discrete]="thumbLabel" [showTickMarks]="showTicks">
                        <input matSliderThumb [(ngModel)]="generate" #slider>
                    </mat-slider>
                </div>
                <div class="slider-parent">
                    <div class="label-parent">
                        <label id="slider-label-name" class="slider-label-name">Timer:</label>
                        <label class="slider-label-value">{{time + ' Seconds'}}</label>
                    </div>
                    <mat-slider class="slider" [disabled]="you != 0" [max]="maxTimer" [min]="minTimer" [step]="stepTimer"
                        [discrete]="thumbLabel" [showTickMarks]="showTicks">
                        <input matSliderThumb [(ngModel)]="time" #slider>
                    </mat-slider>
                </div>
            </div>

            <p class="button-parent">
                <button mat-raised-button (click)="startGame()" color="primary"
                    [disabled]="!inSession || you != 0 || playerCount < 1">Start
                    Game</button>
            </p>
        </div>
    </div>
    <div class="join-overlay" *ngIf="!inSession">
        <div class="popup">
            <div class="join-title">
                <h1 class="join-title-text">
                    Join a online session!
                </h1>
                <button mat-icon-button (click)="closePopup()" color="primary" aria-label="Replace with close button">
                    X
                </button>
            </div>
            <div class="join-parent">
                <mat-form-field class="join-id">
                    <mat-label>Session ID:</mat-label>
                    <input matInput placeholder="1234" [(ngModel)]="sessionID">
                </mat-form-field>
                <button mat-raised-button (click)="joinSession()" [disabled]="inSession || sessionID == ''"
                    color="primary" class="join-button">Join Session</button>
            </div>
        </div>
    </div>
</div>