/* Styling for the overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    z-index: 1000;
    /* Ensure it appears above other content */
}

/* Styling for the popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: var(--color-tone-5);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 3%;
    display: flex;
    flex-direction: column;
}

.popup.setting {
    width: 40%;
    height: 80%;
}

@media (orientation: portrait) {
    .popup.setting {
        width: 100%;
        height: 100%;
    }

    @media (min-width: 48em) {
        .popup.setting {
            width: 80%;
            height: 80%;
        }
    }

}

@media (min-width: 120em) {
    .popup.setting {
        width: 30%;
    }
}

.popup.join {
    width: 30%;
    height: 30%;
}

@media (orientation: portrait) {
    .popup.join {
        width: 80%;
    }

    @media (min-width: 48em) {
        .popup.join {
            width: 70%;
        }
    }

}

@media (min-width: 120em) {
    .popup.join {
        width: 20%;
        height: 20%;
    }
}

.join-title {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-body {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-end {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-title-text {
    width: 90%;
    height: 100%;
    font-size: 1.5em;
    font-family: 'nyt-karnakcondensed';
    font-weight: 700;
    letter-spacing: 0.01em;
    display: flex;
    justify-content: center;
}

.join-id {
    width: 65%;
    margin-right: 5%;
}

.join-button {
    width: 30%;
    font-size: 0.75em;
}

.title {
    height: 10%;
    font-size: 2em;
    font-family: 'nyt-karnakcondensed';
    font-weight: 700;
    letter-spacing: 0.01em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.session-display {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.session-display-title {
    height: 15%;
    font-size: 1.3em;
}

.session-display-text {
    height: 10%;
    font-size: 1em;
}

@media (max-width: 47em) {
    .session-display-text {
        font-size: em;
    }
}

.session-visual-text {
    height: 10%;
    font-size: 1em;
}

.session-display-visual {
    height: 65%;
    width: 90%;
    display: flex;
    background-color: #eef6ff;
}

.ball-container {
    height: 100%;
    width: calc(100%/8);
    display: flex;
    justify-content: center;
}

.ball {
    height: 10%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--lightBlue);
    animation: bounce 0.6s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
}

.ball-me {
    height: 10%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #2383f1;
    animation: bounce 0.5s, rainbow 4s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 100%, 0);
    }

    to {
        transform: translate3d(0, 1000%, 0);
    }
}

@keyframes rainbow {
    0% {
        background-color: var(--red);
    }

    14% {
        background-color: var(--orange);
    }

    28% {
        background-color: var(--yellow);
    }

    42% {
        background-color: var(--green);
    }

    57% {
        background-color: var(--blue);
    }

    71% {
        background-color: var(--teal);
    }

    85% {
        background-color: var(--purple);
    }

    100% {
        background-color: var(--red);
    }
}

.game-parent {
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.check-slider {
    margin-left: 5%;
}

.check-slider-parent {
    height: 25%;
    display: flex;
    padding-left: 5%;
    justify-content: left;
    align-items: center;
}

.check-slider-text {
    margin: 0%;
    margin-left: 3%;
    font-size: 1.2em;
}

@media (min-width: 120em) {
    .check-slider-text {
        font-size: 1.4em;
    }
}

.slider-parent {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 80%;
}

/* ::ng-deep .slider .mat-slider-thumb {
    transform: scale(0.1) !important;
  } */

.label-parent {
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 1.2em;
}

@media (min-width: 120em) {
    .label-parent {
        font-size: 1.4em;
    }
}

.slider-label-name {}

.slider-label-value {}

.button-parent {
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}