<div *ngIf="isPopupVisible" class="overlay">
    <div class="popup-overlay">
        <div class="popup">
            <div class="title">
                <h1>
                    Play Online!
                </h1>
                <button mat-icon-button (click)="closeSession()" color="primary" aria-label="Replace with close button">
                    X
                </button>
            </div>

            <div class="game-parent">
                <div>
                    <mat-form-field class="input-id">
                        <mat-label>Session ID:</mat-label>
                        <input matInput placeholder="1234" [(ngModel)]="sessionID">
                    </mat-form-field>
                    <button mat-raised-button (click)="joinSession()" [disabled]="inSession || sessionID == ''" color="primary">Join Session</button>
                </div>
                <div *ngIf="leader">I'm the Leader!</div>
                <div class="check-slider-parent">
                    <i class="fa fa-th fa-2x" aria-hidden="true"></i>
                    <p class="check-slider-text">Completion Mode</p>
                    <mat-slide-toggle (click)="toggleCompletionMode()" class="check-slider" color="primary"
                        [checked]="completion" disabled="false">
                    </mat-slide-toggle>
                </div>
            </div>
            <div class="slider-parent">
                <div class="label-parent">
                    <label id="slider-label-name" class="slider-label-name">Board Size:</label>
                    <label class="slider-label-value">{{size}}</label>
                </div>
                <mat-slider class="slider" [disabled]="!leader" [max]="maxBoardSize" [min]="minBoardSize" [step]="step"
                    [discrete]="thumbLabel" [showTickMarks]="showTicks">
                    <input matSliderThumb [(ngModel)]="size" #slider>
                </mat-slider>
            </div>
            <div class="slider-parent">
                <div class="label-parent">
                    <label id="slider-label-name" class="slider-label-name">Number of Cards:</label>
                    <label class="slider-label-value">{{generate + ' Cards'}}</label>
                </div>
                <mat-slider class="slider" [disabled]="!leader" [max]="maxNumGen" [min]="minNumGen" [step]="step"
                    [discrete]="thumbLabel" [showTickMarks]="showTicks">
                    <input matSliderThumb [(ngModel)]="generate" #slider>
                </mat-slider>
            </div>
            <div class="slider-parent">
                <div class="label-parent">
                    <label id="slider-label-name" class="slider-label-name">Timer:</label>
                    <label class="slider-label-value">{{time + ' Seconds'}}</label>
                </div>
                <mat-slider class="slider" [disabled]="!leader" [max]="maxTimer" [min]="minTimer" [step]="stepTimer"
                    [discrete]="thumbLabel" [showTickMarks]="showTicks">
                    <input matSliderThumb [(ngModel)]="time" #slider>
                </mat-slider>
            </div>
            <p class="button-parent">
                <button mat-raised-button (click)="startGame()" color="primary" [disabled]="!inSession || !leader">Start
                    Game</button>
            </p>
        </div>
    </div>
</div>